<header>
	<audio controls>
		<source src="audio/flutesalad.mp3" type="audio/mp3">
	</audio>
</header>

<main class="error-page">
	<div class="title-container">
		<h2>NOTHING HERE LMAO</h2>
	</div>
	<div class="error-gif">
		<img src="https://media.discordapp.net/attachments/713907152300933190/719433266326929428/speed.gif" alt="gf bro">
	</div>
</main>